.advSearch{
  width: 250px;
  border-bottom: 2px solid #ebf5f0;
  position: relative;
  ul.menu{
    padding:0;
    margin: 50px 0 0 ;
    border: 1px solid #ebf5f0;
    border-bottom: 0;
    height: calc(100vh - 95px);
    box-shadow: 1px 2px 2px inset #ebf5f0;
    li{
      padding:0;
      margin:10px 0;
      list-style: none;
      height: 60px;
      border-bottom: 1px solid #ebf5f0;
      padding: 0 10px 0 20px;
      label{
        width: 100%;
      }
      select{
        margin-top: 10px;
        width:99%;
        height: 30px;
        border: 0;
      }
    }
  }
  .butonSecn{
    height: 40px;
    display: flex;
    border-left:2px solid #ebf5f0;
    border-right: 1px solid #ebf5f0;
    justify-content: space-evenly;
  }
  .arrow{
    width:30px;
    height: 30px;
    box-shadow: 0px 1px 3px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left:0;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #696969;
    cursor: pointer;
  }
}
