/* You can add global styles to this file, and also import other style files */
body {
  padding:0;
  margin:0;
  font-family: sans-serif;
  background-color: #ebf5f0;
}
 .btn{
   width: 80px;
   height:30px;
   cursor: pointer;
 }
.btn-cancel{
  border: 1px solid #4aa77a;
  border-radius: 5px;
  color: #4aa77a;
  background-color: #ffffff;
}
.btn-ok{
  background-color: #4aa77a;
  border-radius: 5px;
  border: 1px solid #4aa77a;
  color: #ffffff
}
